.layout {
       height: 100%;
       position: relative;
       padding-left: 15px;
       padding-right: 15px;
       margin-right: auto;
       margin-left: auto;
       max-width: 645px;

       &__header {
              text-align: center;
              @media (min-width: 391px) {
                     float: left;
              }

              & h1 {
                     font-size: 16px;
                     margin: 0.6em 0;
              }
       }

       &__image {
              text-align: center;
              filter: drop-shadow(3px 3px 3px #202020);
       }

       &__main {
              height: 73vh;
              max-width: 515px;
              background: transparent;
              border-radius: 0.5ch;
              backdrop-filter: blur(10px);
              box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
              padding: 1rem;
              position: relative;

              @media (min-width: 500px) {
                     height: 80vh;
                     width: 100%;
                     position: absolute;
                     left: 10rem;
                     float: left;
                     padding: 2rem;
              }
       }
}

.transition-enter,
.transition-appear {
       opacity: 0;
       z-index: 1;
}
.transition-enter-active,
.transition-appear-active {
       opacity: 1;
       transition: opacity 300ms linear 150ms;
}
.transition-exit {
       opacity: 1;
}
.transition-exit.transition-exit-active {
       opacity: 0;
       transition: opacity 300ms linear;
}
.transition-exit-done {
       opacity: 0;
}
