.layout__nav {
       width: 100%;
}

.layout__nav-items {
       list-style: none;
       justify-content: space-around;
       padding: 5px;
       border-top: 2px solid #fafafa1a;
       @media (min-width: 391px) {
              & {
                     border-top: 0;
              }
       }
}
