.div_about section em {
       font-weight: bold;
       margin-right: 1em;
}

.div_about h3 {
       margin-top: 20px;
       margin-bottom: 10px;
       font-size: 1rem;
}

.about_header {
       margin-top: 0;
       @media (min-width: 391px) {
              margin-top: 0.83em;
       }
}

.section_timeline p {
       padding-left: 50px;
       text-indent: -50px;
}

.section_contact ul {
       margin-top: 0;
       margin-bottom: 10px;
}

.section_contact li {
       font-size: 0.9rem;
}

a.contact_link {
       color: #848fa5;
}

.adaptive-glass {
       --glass-lightness: 100%;
       background: hsl(0, 0%, var(--glass-lightness) / 50%);
       backdrop-filter: blur(40px);

       @media (prefers-color-scheme: dark) {
              --glass-lightness: 0%;
       }

       @supports not (backdrop-filter: blur(1px)) {
              background: hsl(0, 0%, var(--glass-lightness) / 90%);
       }
}
