.layout__nav-item {
       position: relative;
       display: inline-block;
       width: max-content;

       & > .active {
              text-shadow: 1px 1px 2px black;
       }

       & a {
              float: left;
              text-decoration: none;
              color: #b6b5b5;
              font-weight: bold;
              padding: 0.6rem 0.8rem;
       }

       & a:hover,
       & a:active,
       & a.active {
              color: whitesmoke;
              text-shadow: 1px 1px 10px black;
       }

       @media (min-width: 500px) {
              & {
                     /* margin: 0; */
                     margin-top: 1.5px;
                     display: flex;
                     height: 100%;
                     width: auto;
                     align-items: center;
              }

              & a {
                     color: #b6b5b5;
                     height: 100%;
                     padding: 16px 10px;
                     border-bottom: 4px solid transparent;
                     transition: all 150ms ease-out;
              }

              & a:hover {
                     color: whitesmoke;
                     transform: translateY(-5px);
                     transition: transform 150ms ease-out;
              }

              & a:active,
              & a.active {
                     color: whitesmoke;
                     text-shadow: 1px 1px 10px black;
              }
       }
}
