.App {
       text-align: center;
}

p {
       margin: 0 0 1em;
       font-size: 0.9rem;
}

.about,
.experiences,
.projects {
       position: absolute; //for css transition - 1 component is covering another effect
       width: 85%;
       z-index: 1;
       @media (min-width: 500px) {
              & {
                     float: left;
                     width: 90%;
              }
       }
}
